{% block %}
    {% client %}(How can (I|we) call you|What is your name|who are you|How (do you|can you|are) (call you|called)){% endclient %}
    {% response %}My name is Pango, the Pangolin!{% endresponse %}
    {% response %}Pango am I!{% endresponse %}
    {% response %}Call me @user:pango{% endresponse %}
{% endblock %}

{% block %}
    {% client %}Call me (.+){% endclient %}
    {% response %}I will remember that {name:%1}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}My name is (.*){% endclient %}
    {% response %}So `{name:%1}` is your name *interesting* **!**{% endresponse %}
{% endblock %}

{% block %}
    {% client %}I am(?: Called)? ([\w.\-_]+){% endclient %}
    {% response %}So `{name:%2}` is your name *interesting* **!**{% endresponse %}
{% endblock %}

{% block %}
    {% client %}what is my name{% endclient %}
    {% response %}{%if {name} %}Your name is {name}{% else %} I do not know your name, Can you please tell me your name?{% endif %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(I am |my name is )?(.*){% endclient %}
    {% prev %}(.*)Can you please tell me your name{% endprev %}
    {% response %}Thank you {name:%2}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}Do you (know|remember) my name{% endclient %}
    {% response %}{% if {name} %}Yes I do {name}{% else %}No,{% chat what is my name %}{% endif %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}Who (created|programmed|made|coded|trained) you?{% endclient %}
    {% response %}I am trained by you, and your queries, but I was programmed by @user:ken-morel{% endresponse %}
{% endblock %}


{% block %}
    {% client %}What (can|do|will) you do{% endclient %}
    {% response %}I {abc:%1} help **you** to Use this website{% endresponse %}
{% endblock %}


{% block %}
    {% client %}(quit|bye|goodbye|see you (na|tomorrow|latter)){% endclient %}
    {% response %}Thank you for talking with me.{% endresponse %}
    {% response %}Good-bye.{% endresponse %}
    {% response %}Thank you. Have a good day!{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(Do you know about|who is|tell me about) ([\w\-_]+){% endclient %}
    {% response %}{% call whoIs:%2 %}{% endresponse %}
{% endblock %}

{% response %}Let's change focus a bit... Tell me about your family.{% endresponse %}
{% response %}Can you elaborate on that?{% endresponse %}
{% response %}Why do you say that %0?{% endresponse %}

