{% block %}
    {% client %}(What is your name|who are you|How (do you|can you|are) (call you|called)){% endclient %}
    {% response %}My name is Pango, the Pangolin!{% endresponse %}
    {% response %}Pango am I!{% endresponse %}
{% endblock %}

{% block %}
    {% client %}Call me (.+){% endclient %}
    {% response %}I will remember that {name:%1}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}My name is (.*){% endclient %}
    {% response %}So `{name:%1}` is your name *interesting* **!**{% endresponse %}
{% endblock %}

{% block %}
    {% client %}I am(?: Called)? ([\w.\-_]+){% endclient %}
    {% response %}So `{name:%2}` is your name *interesting* **!**{% endresponse %}
{% endblock %}

{% block %}
    {% client %}what is my name{% endclient %}
    {% response %}{%if {name} %}Your name is {name}{% else %} I do not know your name, Can you please tell me your name?{% endif %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(I am |my name is )?(.*){% endclient %}
    {% prev %}(.*)Can you please tell me your name{% endprev %}
    {% response %}Thank you {name:%2}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}Do you (know|remember) my name{% endclient %}
    {% response %}{% if {name} %}Yes I do {name}{% else %}No,{% chat what is my name %}{% endif %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}Why do not you (.*){% endclient %}
    {% response %}Do you really think I do not %1?{% endresponse %}
    {% response %}Perhaps eventually I will %1.{% endresponse %}
    {% response %}Do you really want me to %1?{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(I (am|feel) )?(feeling )?(absolutely )?(.*){% endclient %}
    {% prev %}.*how are you{% endprev %}
    {% response %}{% if {%low %5 %} == fine | {%low %5 %} == good | {%low %5 %} == happy %}  Nice to know that you are %5. What else? {% else %} why you feel %5 {% endif %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}Why can not I (.*){% endclient %}
    {% response %}Do you think you should be able to %1?{% endresponse %}
    {% response %}If you could %1, what would you do?{% endresponse %}
    {% response %}I do not know -- why can not you %1?{% endresponse %}
    {% response %}Have you really tried?{% endresponse %}
{% endblock %}

{% block %}
    {% client %}I can not (.*){% endclient %}
    {% response %}How do you know you can not %1?{% endresponse %}
    {% response %}Perhaps you could %1 if you tried.{% endresponse %}
    {% response %}What would it take for you to %1?{% endresponse %}
{% endblock %}

{% block %}
    {% client %}I am (.*){% endclient %}
    {% response %}Did you come to me because you are %1?{% endresponse %}
    {% response %}How long have you been %1?{% endresponse %}
    {% response %}How do you feel about being %1?{% endresponse %}
    {% response %}How does being %1 make you feel?{% endresponse %}
    {% response %}Do you enjoy being %1?{% endresponse %}
    {% response %}Why do you tell me you are %1?{% endresponse %}
    {% response %}Why do you think you are %1?{% endresponse %}
{% endblock %}

{% block %}
    {% client %}Hello(.*){% endclient %}
    {% response %}Hello... I am glad you could drop by today.{% endresponse %}
    {% response %}Hi there... how are you today?{% endresponse %}
    {% response %}Hello, how are you feeling today?{% endresponse %}
{% endblock %}

{% block %}
    {% client %}I think (.*){% endclient %}
    {% response %}Do you doubt %1?{% endresponse %}
    {% response %}Do you really think so?{% endresponse %}
    {% response %}But you are not sure %1?{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(.*) friend (.*) is (.*) {% endclient %}
    {% response %}Tell me more about your friends.{% endresponse %}
    {% response %}When you think of a friend, what comes to mind?{% endresponse %}
    {% response %}Why do not you tell me about a childhood friend?{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(.*) computer(.*){% endclient %}
    {% response %}Are you really talking about me?{% endresponse %}
    {% response %}Does it seem strange to talk to a computer?{% endresponse %}
    {% response %}How do computers make you feel?{% endresponse %}
    {% response %}Do you feel threatened by computers?{% endresponse %}
{% endblock %}

{% block %}
    {% client %}It is (.*){% endclient %}
    {% response %}You seem very certain.{% endresponse %}
    {% response %}If I told you that it probably is not %1, what would you feel?{% endresponse %}
{% endblock %}

{% block %}
    {% client %}Can you (.*){% endclient %}
    {% response %}What makes you think I can not %1?{% endresponse %}
    {% response %}If I could %1, then what?{% endresponse %}
    {% response %}Why do you ask if I can %1?{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(.*)\?{% endclient %}
    {% response %}Why do you ask that?{% endresponse %}
    {% response %}Please consider whether you can answer your own question.{% endresponse %}
    {% response %}Perhaps the answer lies within yourself?{% endresponse %}
    {% response %}Why do not you tell me?{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(quit|bye|goodbye|see you (na|tomorrow|latter)){% endclient %}
    {% response %}Thank you for talking with me.{% endresponse %}
    {% response %}Good-bye.{% endresponse %}
    {% response %}Thank you. Have a good day!{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(Do you know about|what is|who is|tell me about)(.*){% endclient %}
    {% response %}{% call whoIs:%2 %}{% endresponse %}
{% endblock %}

{% response %}Let's change focus a bit... Tell me about your family.{% endresponse %}
{% response %}Can you elaborate on that?{% endresponse %}
{% response %}Why do you say that %0?{% endresponse %}

