@import base

$plain: rgba(127, 127, 127, 0.0)
$base : rgb(120, 35, 170)
$base5: mix($base, $plain, 50%)
$base4: mix($base, $plain, 35%)
$base3: mix($base, $plain, 25%)
$base2: mix($base, $plain, 20%)
$base1: mix($base, $plain, 10%)
$base0: mix($base, $plain, 5% )

body
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  align-content: space-between
  margin-top: 50px!important
  width: 100% !important
  flex-wrap: wrap
  padding: 0
  & > #left
    margin: 0
    padding: 0
    order: 1
    flex-grow: 0
    justify-content: left
    display: block
    height: 100%
  & > #left > .bar
    border:
      right:
        width: 2px
        color: $antimony
        style: solid
  & > #center
    margin: auto
    max-width: 500px
    width: 100%
    order: 2
    flex-grow: 8
    justify-content: center
    text-align: center
    padding: auto
    display: block
  & > #right
    margin: 0
    padding: 0
    order: 3
    flex-grow: 0
    justify-content: right
    display: block
    height: 100%

// @import styles

.bg-a1
  background-color: $base1

.bg-rainbow
  $enlightning: 20%
  background: linear-gradient(-45deg, lighten($base, $enlightning), lighten(complement($base), $enlightning))
  color: white


a
  text-decoration: none


