.markdown img[alt=icon] {
  height: 1em;
}

img.text-fit {
  height: 1em;
}

.inline {
  display: inline !important;
}

.block {
  display: block !important;
}

.margin-0, .round-n-49 > *, .round-n-48 > *, .round-n-47 > *, .round-n-46 > *, .round-n-45 > *, .round-n-44 > *, .round-n-43 > *, .round-n-42 > *, .round-n-41 > *, .round-n-40 > *, .round-n-39 > *, .round-n-38 > *, .round-n-37 > *, .round-n-36 > *, .round-n-35 > *, .round-n-34 > *, .round-n-33 > *, .round-n-32 > *, .round-n-31 > *, .round-n-30 > *, .round-n-29 > *, .round-n-28 > *, .round-n-27 > *, .round-n-26 > *, .round-n-25 > *, .round-n-24 > *, .round-n-23 > *, .round-n-22 > *, .round-n-21 > *, .round-n-20 > *, .round-n-19 > *, .round-n-18 > *, .round-n-17 > *, .round-n-16 > *, .round-n-15 > *, .round-n-14 > *, .round-n-13 > *, .round-n-12 > *, .round-n-11 > *, .round-n-10 > *, .round-n-9 > *, .round-n-8 > *, .round-n-7 > *, .round-n-6 > *, .round-n-5 > *, .round-n-4 > *, .round-n-3 > *, .round-n-2 > *, .round-n-1 > *, .round-n-0 > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.padding-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bg-clear {
  background-color: rgba(7, 7, 7, 0);
}

.margin-center {
  margin: auto;
}

.w3-margin-8 {
  margin: 8px !important;
}

.w3-margin-5 {
  margin: 8px !important;
}

.w3-margin-30 {
  margin: 30px !important;
}

.w3-margin-10 {
  margin: 10px !important;
}

.w3-margin-15 {
  margin: 15px !important;
}

.w3-margin-2 {
  margin: 2px !important;
}

.loader {
  border: 16px solid #ddffff;
  border-top: 16px solid #ffffdd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.w3-text-sand50,
.w3-hover-text-sand50:hover {
  color: rgba(253, 245, 230, 0.4666666667) !important;
}

.w3-sand50,
.w3-hover-sand50:hover {
  background-color: rgba(253, 245, 230, 0.4666666667) !important;
}

.w3-cyan50,
.w3-hover-cyan50:hover {
  background-color: rgba(0, 188, 212, 0.4666666667) !important;
}

.w3-blue-grey50,
.w3-hover-blue-grey50:hover,
.w3-blue-gray50,
.w3-hover-blue-gray50:hover {
  background-color: rgba(96, 125, 139, 0.4666666667) !important;
}

.close-btn {
  position: absolute;
  top: 90%;
  right: 90%;
  border-radius: 50%;
  border: 0.5px black solid;
}

.bg-red-invalid:invalid {
  background: rgba(255, 153, 119, 0.2);
}

.bg-clear {
  background: rgba(0, 0, 0, 0);
}

.bd-antimony,
.bd-antimony-hover:hover {
  border-color: #4c4f4d !important;
}

.bg-antimony,
.bg-antimony-hover:hover {
  background-color: #4c4f4d !important;
}

.bg-antimony50,
.bg-antimony50-hover:hover {
  background-color: rgba(76, 79, 77, 0.4666666667) !important;
}

.fg-antimony50,
.fg-antimony50-hover:hover {
  color: rgba(76, 79, 77, 0.4666666667) !important;
}

.fg-antimony10,
.fg-antimony10-hover:hover {
  color: rgba(76, 79, 77, 0.0901960784) !important;
}

.bg-antimony10,
.bg-antimony10-hover:hover {
  background-color: rgba(76, 79, 77, 0.0901960784) !important;
}

.bg-antimony5,
.bg-antimony5-hover:hover {
  background-color: rgba(76, 79, 77, 0.0470588235) !important;
}

.bg-antimony15,
.bg-antimony15-hover:hover {
  background-color: rgba(76, 79, 77, 0.1450980392) !important;
}

.bd-naple,
.bd-naple-hover:hover {
  border-color: #fada5e !important;
}

.bd-naple,
.bd-naple-hover:hover {
  border-color: #fada5e !important;
}

.bg-naple,
.bg-naple-hover:hover {
  background-color: rgb(250, 218, 94) !important;
}

.bg-naple50,
.bg-naple50-hover:hover {
  background-color: rgba(250, 218, 94, 0.4666666667) !important;
}

.bg-naple10,
.bg-naple10-hover:hover {
  background-color: rgba(250, 218, 94, 0.0823529412) !important;
}

.fg-naple,
.w3-naple-hover:hover {
  color: rgba(250, 218, 94, 0.4666666667) !important;
}

.bd-thin {
  border: 0.1px solid;
}

.colory-border1 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 1px !important;
  width: fit-content;
}
.colory-border1 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 1px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border2 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 2px !important;
  width: fit-content;
}
.colory-border2 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 2px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border3 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 3px !important;
  width: fit-content;
}
.colory-border3 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 3px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border4 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 4px !important;
  width: fit-content;
}
.colory-border4 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 4px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border5 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 5px !important;
  width: fit-content;
}
.colory-border5 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 5px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border6 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 6px !important;
  width: fit-content;
}
.colory-border6 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 6px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border7 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 7px !important;
  width: fit-content;
}
.colory-border7 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 7px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border8 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 8px !important;
  width: fit-content;
}
.colory-border8 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 8px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border9 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 9px !important;
  width: fit-content;
}
.colory-border9 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 9px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border10 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 10px !important;
  width: fit-content;
}
.colory-border10 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 10px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border11 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 11px !important;
  width: fit-content;
}
.colory-border11 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 11px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border12 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 12px !important;
  width: fit-content;
}
.colory-border12 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 12px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border13 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 13px !important;
  width: fit-content;
}
.colory-border13 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 13px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border14 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 14px !important;
  width: fit-content;
}
.colory-border14 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 14px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border15 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 15px !important;
  width: fit-content;
}
.colory-border15 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 15px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border16 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 16px !important;
  width: fit-content;
}
.colory-border16 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 16px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border17 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 17px !important;
  width: fit-content;
}
.colory-border17 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 17px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border18 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 18px !important;
  width: fit-content;
}
.colory-border18 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 18px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border19 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 19px !important;
  width: fit-content;
}
.colory-border19 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 19px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.colory-border20 {
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fade5e, #8a2be2) !important;
  padding: 20px !important;
  width: fit-content;
}
.colory-border20 > *:only-child {
  width: 100%;
  display: inline;
  height: 100%;
  margin: 20px !important;
  background-color: #ddffff;
  border: inherit;
  border-radius: inherit;
}

.bd-1 {
  border: 1px solid black;
  border-width: 1px !important;
}

.bd-2 {
  border: 2px solid black;
  border-width: 2px !important;
}

.bd-3 {
  border: 3px solid black;
  border-width: 3px !important;
}

.bd-4 {
  border: 4px solid black;
  border-width: 4px !important;
}

.bd-5 {
  border: 5px solid black;
  border-width: 5px !important;
}

.bd-6 {
  border: 6px solid black;
  border-width: 6px !important;
}

.bd-7 {
  border: 7px solid black;
  border-width: 7px !important;
}

.bd-8 {
  border: 8px solid black;
  border-width: 8px !important;
}

.bd-9 {
  border: 9px solid black;
  border-width: 9px !important;
}

.bd-10 {
  border: 10px solid black;
  border-width: 10px !important;
}

.wave {
  animation: waveAnim 3s cubic-bezier(0.25, 0.25, 1, 1) infinite;
  background-size: 100% 100%;
  background-image: linear-gradient(90deg, #4c4f4d, #fada5e);
}

@keyframes waveAnim {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
.arrow-left,
.arrow-right,
.arrow-up,
.arrow-down {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

bkd-antimony50:-internal-dialog-in-top-layer::backdrop {
  background-color: fada5e77;
  color: fada5e77;
  content: "";
}

.f-aclonica {
  font-family: "Aclonica", system-ui;
  font-weight: 100;
  font-style: normal;
}

.f-agbalumo {
  font-family: "Agbalumo", system-ui;
  font-weight: 100;
  font-style: normal;
}

.f-aclonica-bold {
  font-family: "Aclonica", system-ui;
  font-weight: 100;
  font-style: bold;
}

.f-agbalumo-bold {
  font-family: "Agbalumo", system-ui;
  font-weight: 100;
  font-style: bold;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "width" 100;
}

* {
  font-family: "Open Sans", sans-serif;
}

.bold {
  font-weight: bold;
}

.italic {
  font-weight: italic;
}

.backens-naple {
  background-image: linear-gradient(to right, rgba(250, 218, 94, 0), rgba(250, 218, 94, 0.7)), url("/image/back-dark-dotty.png");
}

.backens-antimony {
  background-image: linear-gradient(to right, rgba(76, 79, 77, 0), #4c4f4d), url("/image/back-dark-dotty.png");
}

.round-n-0 {
  border-radius: 0px;
}
.round-n-0 > *:first-child {
  border-radius: 0px 0px 0 0;
}
.round-n-0 > *:last-child {
  border-radius: 0 0 0px 0px;
}

.round-n-1 {
  border-radius: 1px;
}
.round-n-1 > *:first-child {
  border-radius: 1px 1px 0 0;
}
.round-n-1 > *:last-child {
  border-radius: 0 0 1px 1px;
}

.round-n-2 {
  border-radius: 2px;
}
.round-n-2 > *:first-child {
  border-radius: 2px 2px 0 0;
}
.round-n-2 > *:last-child {
  border-radius: 0 0 2px 2px;
}

.round-n-3 {
  border-radius: 3px;
}
.round-n-3 > *:first-child {
  border-radius: 3px 3px 0 0;
}
.round-n-3 > *:last-child {
  border-radius: 0 0 3px 3px;
}

.round-n-4 {
  border-radius: 4px;
}
.round-n-4 > *:first-child {
  border-radius: 4px 4px 0 0;
}
.round-n-4 > *:last-child {
  border-radius: 0 0 4px 4px;
}

.round-n-5 {
  border-radius: 5px;
}
.round-n-5 > *:first-child {
  border-radius: 5px 5px 0 0;
}
.round-n-5 > *:last-child {
  border-radius: 0 0 5px 5px;
}

.round-n-6 {
  border-radius: 6px;
}
.round-n-6 > *:first-child {
  border-radius: 6px 6px 0 0;
}
.round-n-6 > *:last-child {
  border-radius: 0 0 6px 6px;
}

.round-n-7 {
  border-radius: 7px;
}
.round-n-7 > *:first-child {
  border-radius: 7px 7px 0 0;
}
.round-n-7 > *:last-child {
  border-radius: 0 0 7px 7px;
}

.round-n-8 {
  border-radius: 8px;
}
.round-n-8 > *:first-child {
  border-radius: 8px 8px 0 0;
}
.round-n-8 > *:last-child {
  border-radius: 0 0 8px 8px;
}

.round-n-9 {
  border-radius: 9px;
}
.round-n-9 > *:first-child {
  border-radius: 9px 9px 0 0;
}
.round-n-9 > *:last-child {
  border-radius: 0 0 9px 9px;
}

.round-n-10 {
  border-radius: 10px;
}
.round-n-10 > *:first-child {
  border-radius: 10px 10px 0 0;
}
.round-n-10 > *:last-child {
  border-radius: 0 0 10px 10px;
}

.round-n-11 {
  border-radius: 11px;
}
.round-n-11 > *:first-child {
  border-radius: 11px 11px 0 0;
}
.round-n-11 > *:last-child {
  border-radius: 0 0 11px 11px;
}

.round-n-12 {
  border-radius: 12px;
}
.round-n-12 > *:first-child {
  border-radius: 12px 12px 0 0;
}
.round-n-12 > *:last-child {
  border-radius: 0 0 12px 12px;
}

.round-n-13 {
  border-radius: 13px;
}
.round-n-13 > *:first-child {
  border-radius: 13px 13px 0 0;
}
.round-n-13 > *:last-child {
  border-radius: 0 0 13px 13px;
}

.round-n-14 {
  border-radius: 14px;
}
.round-n-14 > *:first-child {
  border-radius: 14px 14px 0 0;
}
.round-n-14 > *:last-child {
  border-radius: 0 0 14px 14px;
}

.round-n-15 {
  border-radius: 15px;
}
.round-n-15 > *:first-child {
  border-radius: 15px 15px 0 0;
}
.round-n-15 > *:last-child {
  border-radius: 0 0 15px 15px;
}

.round-n-16 {
  border-radius: 16px;
}
.round-n-16 > *:first-child {
  border-radius: 16px 16px 0 0;
}
.round-n-16 > *:last-child {
  border-radius: 0 0 16px 16px;
}

.round-n-17 {
  border-radius: 17px;
}
.round-n-17 > *:first-child {
  border-radius: 17px 17px 0 0;
}
.round-n-17 > *:last-child {
  border-radius: 0 0 17px 17px;
}

.round-n-18 {
  border-radius: 18px;
}
.round-n-18 > *:first-child {
  border-radius: 18px 18px 0 0;
}
.round-n-18 > *:last-child {
  border-radius: 0 0 18px 18px;
}

.round-n-19 {
  border-radius: 19px;
}
.round-n-19 > *:first-child {
  border-radius: 19px 19px 0 0;
}
.round-n-19 > *:last-child {
  border-radius: 0 0 19px 19px;
}

.round-n-20 {
  border-radius: 20px;
}
.round-n-20 > *:first-child {
  border-radius: 20px 20px 0 0;
}
.round-n-20 > *:last-child {
  border-radius: 0 0 20px 20px;
}

.round-n-21 {
  border-radius: 21px;
}
.round-n-21 > *:first-child {
  border-radius: 21px 21px 0 0;
}
.round-n-21 > *:last-child {
  border-radius: 0 0 21px 21px;
}

.round-n-22 {
  border-radius: 22px;
}
.round-n-22 > *:first-child {
  border-radius: 22px 22px 0 0;
}
.round-n-22 > *:last-child {
  border-radius: 0 0 22px 22px;
}

.round-n-23 {
  border-radius: 23px;
}
.round-n-23 > *:first-child {
  border-radius: 23px 23px 0 0;
}
.round-n-23 > *:last-child {
  border-radius: 0 0 23px 23px;
}

.round-n-24 {
  border-radius: 24px;
}
.round-n-24 > *:first-child {
  border-radius: 24px 24px 0 0;
}
.round-n-24 > *:last-child {
  border-radius: 0 0 24px 24px;
}

.round-n-25 {
  border-radius: 25px;
}
.round-n-25 > *:first-child {
  border-radius: 25px 25px 0 0;
}
.round-n-25 > *:last-child {
  border-radius: 0 0 25px 25px;
}

.round-n-26 {
  border-radius: 26px;
}
.round-n-26 > *:first-child {
  border-radius: 26px 26px 0 0;
}
.round-n-26 > *:last-child {
  border-radius: 0 0 26px 26px;
}

.round-n-27 {
  border-radius: 27px;
}
.round-n-27 > *:first-child {
  border-radius: 27px 27px 0 0;
}
.round-n-27 > *:last-child {
  border-radius: 0 0 27px 27px;
}

.round-n-28 {
  border-radius: 28px;
}
.round-n-28 > *:first-child {
  border-radius: 28px 28px 0 0;
}
.round-n-28 > *:last-child {
  border-radius: 0 0 28px 28px;
}

.round-n-29 {
  border-radius: 29px;
}
.round-n-29 > *:first-child {
  border-radius: 29px 29px 0 0;
}
.round-n-29 > *:last-child {
  border-radius: 0 0 29px 29px;
}

.round-n-30 {
  border-radius: 30px;
}
.round-n-30 > *:first-child {
  border-radius: 30px 30px 0 0;
}
.round-n-30 > *:last-child {
  border-radius: 0 0 30px 30px;
}

.round-n-31 {
  border-radius: 31px;
}
.round-n-31 > *:first-child {
  border-radius: 31px 31px 0 0;
}
.round-n-31 > *:last-child {
  border-radius: 0 0 31px 31px;
}

.round-n-32 {
  border-radius: 32px;
}
.round-n-32 > *:first-child {
  border-radius: 32px 32px 0 0;
}
.round-n-32 > *:last-child {
  border-radius: 0 0 32px 32px;
}

.round-n-33 {
  border-radius: 33px;
}
.round-n-33 > *:first-child {
  border-radius: 33px 33px 0 0;
}
.round-n-33 > *:last-child {
  border-radius: 0 0 33px 33px;
}

.round-n-34 {
  border-radius: 34px;
}
.round-n-34 > *:first-child {
  border-radius: 34px 34px 0 0;
}
.round-n-34 > *:last-child {
  border-radius: 0 0 34px 34px;
}

.round-n-35 {
  border-radius: 35px;
}
.round-n-35 > *:first-child {
  border-radius: 35px 35px 0 0;
}
.round-n-35 > *:last-child {
  border-radius: 0 0 35px 35px;
}

.round-n-36 {
  border-radius: 36px;
}
.round-n-36 > *:first-child {
  border-radius: 36px 36px 0 0;
}
.round-n-36 > *:last-child {
  border-radius: 0 0 36px 36px;
}

.round-n-37 {
  border-radius: 37px;
}
.round-n-37 > *:first-child {
  border-radius: 37px 37px 0 0;
}
.round-n-37 > *:last-child {
  border-radius: 0 0 37px 37px;
}

.round-n-38 {
  border-radius: 38px;
}
.round-n-38 > *:first-child {
  border-radius: 38px 38px 0 0;
}
.round-n-38 > *:last-child {
  border-radius: 0 0 38px 38px;
}

.round-n-39 {
  border-radius: 39px;
}
.round-n-39 > *:first-child {
  border-radius: 39px 39px 0 0;
}
.round-n-39 > *:last-child {
  border-radius: 0 0 39px 39px;
}

.round-n-40 {
  border-radius: 40px;
}
.round-n-40 > *:first-child {
  border-radius: 40px 40px 0 0;
}
.round-n-40 > *:last-child {
  border-radius: 0 0 40px 40px;
}

.round-n-41 {
  border-radius: 41px;
}
.round-n-41 > *:first-child {
  border-radius: 41px 41px 0 0;
}
.round-n-41 > *:last-child {
  border-radius: 0 0 41px 41px;
}

.round-n-42 {
  border-radius: 42px;
}
.round-n-42 > *:first-child {
  border-radius: 42px 42px 0 0;
}
.round-n-42 > *:last-child {
  border-radius: 0 0 42px 42px;
}

.round-n-43 {
  border-radius: 43px;
}
.round-n-43 > *:first-child {
  border-radius: 43px 43px 0 0;
}
.round-n-43 > *:last-child {
  border-radius: 0 0 43px 43px;
}

.round-n-44 {
  border-radius: 44px;
}
.round-n-44 > *:first-child {
  border-radius: 44px 44px 0 0;
}
.round-n-44 > *:last-child {
  border-radius: 0 0 44px 44px;
}

.round-n-45 {
  border-radius: 45px;
}
.round-n-45 > *:first-child {
  border-radius: 45px 45px 0 0;
}
.round-n-45 > *:last-child {
  border-radius: 0 0 45px 45px;
}

.round-n-46 {
  border-radius: 46px;
}
.round-n-46 > *:first-child {
  border-radius: 46px 46px 0 0;
}
.round-n-46 > *:last-child {
  border-radius: 0 0 46px 46px;
}

.round-n-47 {
  border-radius: 47px;
}
.round-n-47 > *:first-child {
  border-radius: 47px 47px 0 0;
}
.round-n-47 > *:last-child {
  border-radius: 0 0 47px 47px;
}

.round-n-48 {
  border-radius: 48px;
}
.round-n-48 > *:first-child {
  border-radius: 48px 48px 0 0;
}
.round-n-48 > *:last-child {
  border-radius: 0 0 48px 48px;
}

.round-n-49 {
  border-radius: 49px;
}
.round-n-49 > *:first-child {
  border-radius: 49px 49px 0 0;
}
.round-n-49 > *:last-child {
  border-radius: 0 0 49px 49px;
}

/* The switch - the box around the slider*/
/*<label class="slider round">*/
 * /*<input type="checkbox" ng-model="is_private">*/
 * /*<span></span>*/
/*</label>*/
.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.slider > input:first-child {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider > span:last-child {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider > span:last-child:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider > input:checked + span {
  background-color: #2196F3;
}
.slider > input:focus + span {
  box-shadow: 0 0 1px #2196F3;
}
.slider > input:checked + span:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round > span:last-child {
  border-radius: 34px;
}

.slider.round > span:last-child:before {
  border-radius: 50%;
}

.no-resize {
  resize: none;
}

.backens-a0 {
  background-image: linear-gradient(to right, rgba(120, 35, 170, 0), #7823aa), url("/image/back-dark-dotty.png");
}

.backens-a1 {
  background-image: linear-gradient(to right, rgba(120, 35, 170, 0), #7823aa), url("/image/back-dark-dotty.png");
}

.backens-a2 {
  background-image: linear-gradient(to right, rgba(120, 35, 170, 0), #7823aa), url("/image/back-dark-dotty.png");
}

.backens-a3 {
  background-image: linear-gradient(to right, rgba(120, 35, 170, 0), #7823aa), url("/image/back-dark-dotty.png");
}

.backens-a4 {
  background-image: linear-gradient(to right, rgba(120, 35, 170, 0), #7823aa), url("/image/back-dark-dotty.png");
}

.backens-a5 {
  background-image: linear-gradient(to right, rgba(120, 35, 170, 0), #7823aa), url("/image/back-dark-dotty.png");
}

#header-back-blurred-div {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/image/quizz-header.png");
  /* Add the blur effect */
  filter: blur(0.5px);
  -webkit-filter: blur(0.5px);
  /* Full height */
  /* Center and scale the image nicely */
  background-repeat: repeat-x;
  z-index: 19;
}

header {
  z-index: 20 !important;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-top: 50px !important;
  width: 100% !important;
  flex-wrap: wrap;
  padding: 0;
  background-image: url("/image/back-lighter-dashy.png");
}
body > #left {
  margin: 0;
  padding: 0;
  order: 1;
  flex-grow: 0;
  justify-content: left;
  display: block;
  height: 100%;
}
body > #left > .bar {
  border-right-width: 2px;
  border-right-color: rgb(76, 79, 77);
  border-right-style: solid;
}
body > #center {
  margin: auto;
  max-width: 700px;
  width: 100%;
  order: 2;
  flex-grow: 8;
  justify-content: center;
  text-align: center;
  padding: auto;
  display: block;
}
body > #right {
  margin: 0;
  padding: 0;
  order: 3;
  flex-grow: 0;
  justify-content: right;
  display: block;
  height: 100%;
}

.bg-a0 {
  background-color: rgba(120, 35, 170, 0.05);
}

.bg-a1 {
  background-color: rgba(120, 35, 170, 0.1);
}

.bg-a2 {
  background-color: rgba(120, 35, 170, 0.2);
}

.bg-a3 {
  background-color: rgba(120, 35, 170, 0.25);
}

.bg-a4 {
  background-color: rgba(120, 35, 170, 0.35);
}

.bg-a5 {
  background-color: rgba(120, 35, 170, 0.5);
}

.bg-a {
  background-color: rgb(120, 35, 170);
}

.bd-a0 {
  border-color: rgba(120, 35, 170, 0.05);
}

.bd-a1 {
  border-color: rgba(120, 35, 170, 0.1);
}

.bd-a2 {
  border-color: rgba(120, 35, 170, 0.2);
}

.bd-a3 {
  border-color: rgba(120, 35, 170, 0.25);
}

.bd-a4 {
  border-color: rgba(120, 35, 170, 0.35);
}

.bd-a5 {
  border-color: rgba(120, 35, 170, 0.5);
}

.bd-a {
  border-color: rgb(120, 35, 170);
}

.bg-rainbow {
  background: linear-gradient(-45deg, #ab57dc, #88dc57);
  color: white;
}

a {
  text-decoration: none;
}

.round5-eq-contents {
  border-radius: 5px;
  padding: 0 0 0 0 !important;
}
.round5-eq-contents > *:first-child {
  border-radius: 5px 5px 0 0;
  margin: 0;
}
.round5-eq-contents > *:last-child {
  border-radius: 0 0 5px 5px;
  margin: 0;
}

div.markdown {
  display: inline;
}

/*# sourceMappingURL=quizz-styles.css.map */
