{% load static %}
<!DOCTYPE html>
<html lang="en" class="bg-napples10">
    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="{% static 'scripts/angular.min.js' %}"></script>
        <script src="{% static 'scripts/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'styles/w3.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
        <title>{% block 'title' %}{% endblock %}</title>
        <script src="https://kit.fontawesome.com/ba5b68e3cc.js" crossorigin="anonymous"></script>
        {% load google_analytics_tags %}
        <div style="display:none">
            <img src="{% google_analytics %}" width="0" height="0" />
        </div>
    </head>


    <body class="">
        {% block 'body' %}
        {% endblock %}
    </body>
</html>
